<h2>List of books</h2>

<table>
  <tr>
    <th>Author</th>
    <th>Name</th>
    <th>Pages</th>
  </tr>
  {{#each model as |book|}}
    <tr>
      <td>{{book.Author}}</td>
      <td>{{book.Name}}</td>
      <td>{{book.Pages}}</td>
    </tr>
  {{/each}}
</table>